#currNum {
  display: flex;
  font-size: 75px;
}

.infoRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.break {
  flex-basis: 100%;
  width: 0;
}
.flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 6px;
}

#inputNum {
  border-radius: 10px;
  border-color: grey;
}
#AddBtn {
  align-content: center;
  background-color: gray;
  color: white;
  font-size: 45px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

#AddBtn:hover {
  align-content: center;
  background-color: rgb(255, 255, 255);
  color: grey;
  font-size: 45px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

#subtractBtn {
  align-content: center;
  background-color: gray;
  color: white;
  font-size: 45px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 0px;
}

#subtractBtn:hover {
  align-content: center;
  background-color: rgb(255, 255, 255);
  color: grey;
  font-size: 45px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  line-height: 0px;
}
